@import '~bootstrap/scss/bootstrap';
body{
  background:purple;
  border-radius: 20px;
  border-color: black;
  font-color: black;
}
#board{
  width: 350px;
  height: 350px;
}
.row{
  display: grid;
  grid-template-columns: auto auto auto;
  color: black;
  background-color: blue;
  padding: 10px;
}
 // >div {
 //   display: flex;
 //   justify-content: center;
 //   align-items: center;
 //   background-color: green;
 //   min-width: 120px;
 //   height: 100%;
 // }
.box {
  display: flex;
  background-color: white;
  // border: 15px solid black;
  color: black;
  padding: 0px;
  height: 110px;
  width: 110px;
}
// .position-1{
//   border-right:20px solid black;
//   border-bottom:20px solid black;
// }
// .position-2{
//   border-bottom:20px solid black;
// }
// .position-3{
//   border-left:20px solid black;
//   border-bottom:20px solid black;
// }
// .position-4{
//   border-right:20px solid black;
//   border-bottom:20px solid black;
// }
// .position-5{
//   border-bottom:20px solid black;
// }
// .position-6{
//   border-left:20px solid black;
//   border-bottom:20px solid black;
// }
// .position-7{
//   border-right:20px solid black;
// }
// .position-8{
//   border-right:20px solid black;
// }
